/* -------------------------------------------------------------------------- */
/*                              Custom Variables                              */
/* -------------------------------------------------------------------------- */

$main-text-color: #222222;
$main-color: #1EACC7;
$second-color: #FF5656;
$section-heading-dark-color: #222222;
$section-subheading-dark-color:#222222;

$white: #ffffff;
$black: #000000;

$cities-link-color: #1FBAD6;
$link-hover-color: #1FBAD6;
$footer-link-color: #070716;
$footer-sublink-color: #999999;

$social-icon-bg-color: #070716;


/* -------------------------------- bg colors ------------------------------- */
$bg-nav-color: #212121;
$bg-subheader-color: rgba(0, 0, 0, 0.6);
$bg-choice-black-color: #070716;

/* -------------------------- font-size for heading ------------------------- */
$fontSize-h3: calc(1rem + 0.6vw);
$fontSize-h3-media-lg: calc(0.8rem + 0.6vw);


/* ---------------------------- Change bootstrap ---------------------------- */
