.cities {
    background-color: #080816;

    &__wrapper {
        position: relative;

        min-height: 100vh;
        padding: 50px 0 20px;
        background: url('../images/bg/world_bg.jpeg') center (center/contain) no-repeat;

        @media(max-width: 991.98px) {
            min-height: 600px;
        }

        @media(max-width: 575.98px) {
            min-height: 60vh;
        }
    }

    &__link {
        display: block;
        padding: 16px 10px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        color: $cities-link-color;
        font-size: 15px;
        text-transform: uppercase;

        @media screen and (min-width: 992px) {
            &:hover {
                border: 2px dotted $link-hover-color;
                border-radius: 4px;
            }
        }

        @media(max-width: 575.98px) {
            font-size: 13px;
        }

        @media(max-width: 374.98px) {
            font-size: 11px;
        }
    }

}
